



.sidebar {
  float: left;
  width: 250px;
  margin-left: -250px;
  height: 100%;
  background-color: rgb(6, 89, 191);
  background-image: linear-gradient(to bottom right, rgb(11, 53, 104), rgb(45, 129, 140));
  position:fixed;
  z-index: 1;
  transition: .6 s all;
 
 
}

.sidebar-open{
  margin-left:0;
}
.sidebar ul{
  margin:0;
  padding:0;
  padding-top:20px;

}

.sidebar ul li{
  list-style:none;
  
}
.sidebar ul li a{

  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  height: 50px;
  width: 100%;
  line-height: 80px;
  
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top:40px;
  
}

.sidebar ul li a i{
  border-radius: 1 px solid #000;
  border-radius: 6px;
  transition: .5s ease-in-out;
}

.sidebar ul li a:hover {
  color: #f1f1f1;
}



.flexbox-banner {
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px black;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2;

  background-color: rgb(6, 89, 191);
  background-image: url("AdobeStock_65989539.jpeg");
  

  

}

.logo {
  width: 50px;
  height: 50px;

  
}

.hamburger {

  width: 50px;
  height: 50px;
  cursor: pointer;
}



.bannerText {
  font-size: 30px;
  color: whitesmoke;
  font-family: 'Arial'
  
}
  

.headerThree{
  font-style: underline;
  text-decoration: underline;
  color: rgb(18, 34, 91);
  margin: 10px;
  padding: 20px;
}

.openbtn:hover {
  background-color: #444;
}

.welcomeImage {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://raw.githubusercontent.com/Zulinov/skillsProjects/main/canoe.jpg") ;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 600px;
  width: auto;
  text-shadow:2px 2px rgb(33, 33, 33);
  font-size: 70px;
  color: white;
  margin-top: 0;
  font-family: 'Papyrus';
  
  

}

.headerSecond {

  text-align: center;

  font-size: 45px;
  font-family: 'Papyrus'
}
  
.paragraph{
  margin: 20px;
  padding: 20px;

}
  





@media screen and (max-width: 1000px){}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px){
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}